@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background: #eaedf2;
  font-family: 'Nunito', sans-serif;
}

*{
  box-sizing: border-box;
}

*:before,
*:after {
box-sizing: border-box;
}
